// 
// _authentication.scss
//

.bg-login {
    background: url("../images/bg-login.jpg");
    background-position: center;
    background-size: cover
}


.bg-register {
    background: url(../images/bg-register.jpg);
    background-position: center;
    background-size: cover;
}


.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 1px solid #747a80;
    border-radius: 50%;
    color: #747a80;
    text-align: center;
}