<meta charset="utf-8" />
<title>@@title | Combined Insurance Services (St.Lucia) Ltd. - Castries, St.Lucia</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta content="Combined Insurance Services (St.Lucia) Ltd. - Insurance Management System" name="description" />
<meta content="Solace-Systems" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">